:root {
  --deep-blue: #1B1F3B;
  --cyan: #00BFFF;
  --magenta: #FF4081;
  --yellow: #FFD700;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(var(--deep-blue), black);
  color: white;
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url('https://codingclubprpcem.github.io/image-hosting-/hero.jpg') no-repeat center center/cover;
  height: 100vh;
}

.text-cyan {
  color: var(--cyan);
}

.text-cyan:hover {
  color: var(--magenta);
}

.btn-primary {
  background-color: var(--cyan);
  border: none;
}

.btn-primary:hover {
  background-color: var(--magenta);
  
}

#aboutus{
  background: linear-gradient(
    rgba(49, 194, 185, 0.68), /* Blue overlay with 68% opacity */
      rgba(0, 0, 255, 0.4)
    ),
    url('https://codingclubprpcem.github.io/image-hosting-/college-photo.jpg') no-repeat center center/cover; /* Replace with your image path */
  height: 100vh; /* Full screen height */
  display: flex;
  align-items: center;
  padding: 2rem;
}
.navbar a {
  text-decoration: none;
  color: white;
  padding: 0.5rem 1rem;
  position: relative;
  float: left;
}

.navbar a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--cyan);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navbar a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Shine effect on hover */
.col-md-4 {
  position: relative; /* Ensure the pop out effect is positioned relative to the card */
  transition: transform 0.3s ease-in-out;
  z-index: 0;
}

.col-md-4:hover {
  transform: scale(1.05);
  z-index: 1;
}

#leadership .col-md-4::before {
  background: var(--deep-blue);
  color: white;
  border: none;
} 
